div(class="game_container")
	div(id="lac" class="lac_container")
		div(id="bouchons" class="bouchons_container")
	div(id="players" class="players_container")
	button(id="pecher" class="btn_pecher") Pecher